*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
font-family:  Roboto, sans-serif;
border: red dotted 1pt;
position: relative;
width: 600px;
height: 927px;
color: #000000;

background: #FFFFFF;

}

.containerBig{
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    
    border: red dotted 1pt;
    position: absolute;
    width: 214px;
    height: 82px;
    left: 29px;
    top: 403px;
  
}

.container {

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

}

.container.one{
    border: red dotted 1pt;
    position: absolute;
    width: 296px;
    height: 115px;
    left: 29px;
    top: 288px;

}

.container.two{
border: red dotted 1pt;
position: absolute;
width: 258px;
height: 69px;
left: 29px;
top: 491px;

}


.container.three{
border: blue dotted 1pt;

position: absolute;
width: 182px;
height: 23px;
left: 410px;
top: 895px;
text-align: right;
}

.bigsquare.one{
    position: absolute;
    width: 275px;
    height: 278px;
    left: 325px;
    top: 0px;
    background: #D52D27;
}

.bigsquare.two{
    position: absolute;
    width: 314px;
    height: 335px;
    left: 1px;
    top: 592px;
    
    background: #D52D27;
}

.smallsquare.one{
    position: absolute;
width: 232px;
height: 236px;
left: 368px;
top: 0px;
background: #FFFFFF;
}

.smallsquare.two{
    position: absolute;
width: 274px;
height: 294px;
left: 0px;
top: 633px;

background: #FFFFFF;
}

 /* if the size is bigger than width: 600px;
height: 927px;, display the responsive wide screen version   */